body{
    background: url("../images/background.jpg");
    -webkit-font-smoothing: subpixel-antialiased;
}

a:link, a:visited {
    color: #3a6596;
    text-decoration:none;
    font-weight: bold;
}

a:hover, a:active {
    color: #6499b6;
    text-decoration: underline;
}

#top-dark{
    background: url("../images/background-dark.jpg");
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    padding-bottom: 15px;
    width: 100%;
    z-index: -100;
    border-bottom: 1px solid #cbcbcb;
}

#wrapper{
    width: 700px;
    margin: 0 auto;
}

#header{
    background: url("../images/logo.png") left center no-repeat;
    padding-left: 75px;
    font-size: 38px;
    font-weight: bold;
    height: 80px;
    display: table-cell;
    vertical-align: bottom;
    font-family: arial;
}

#header_desc{
    font-size: 16px;
    color: #bbb;
    display: inline;
    font-style: italic;
}

#menubar{
    text-align: right;
    margin-top: 15px;
    font-weight: bold;
    font-size: 19px;
}

#menubar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#menubar ul li{
    display: inline;
}

#menubar ul li a{
    text-decoration: none;
    color: #000;
    margin-left: 15px;
}

#menubar ul li a:hover, #menubar ul li  .selected{
    border-bottom: 3px solid #000;
}

#content{
    margin-top: 20px;
    font-family: arial,sans-serif;
}

#description .desc_title{
    font-size: 20px;
    border-bottom: 2px dotted #000;
    margin-top: 15px;
    margin-bottom: 15px;
}

#description ul li i{
    color: #444;
    font-size: 13px;
}

.center_title{
    font-size: 20px;
    text-align: center;

}

#downloads_box{
    width: 480px;
    margin: 0 auto;
}

.download_source{
    margin-bottom: 10px;
}

.download_source img{
    float: left;
    margin-right: 5px;
}

.download_link{
    padding-top: 8px;
}

.download_desc{
    margin-left: 37px;
    padding-top: 5px;
    color: #999;
    font-size: 14px;
}
